.app {
  display: flex;
  flex-direction: column;
}

.simulation-and-control-panels {
  display: flex;
  flex-direction: row;
}

.controls-column {
  font-size: 0.8em;
  min-width: 280px;
  max-width: 400px;
  margin-top: 10px;
  margin-left: 20px;
}

.controls-column .section {
  border: 1px solid silver;
  padding: 10px;
  margin-bottom: 10px;
}

.simulation-stats {
  margin-left: 10px;
  margin-top: 16px;
}