.app {
  display: flex;
}

.ui {
  font-size: 0.8em;
  max-width: 400px;
  margin-top: 10px;
  margin-left: 20px;
}

.ui .section{
  border: 1px solid silver;
  padding: 10px;
  margin-bottom: 10px;
}
