.timeline-view {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-top: -10px;
  height: 22px;
}

.timeline-view .year-label {
  flex: none;
  margin-top: 2px;
  width: 60px;
  font-weight: bold;
}

.timeline-view .timeline-bar {
  flex: auto;
}